* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.containermain {
    transform: scale(100%)
}
.container {
    position: relative;
    max-width: 1349px;
    margin: 0 auto; 
    right: 8px;
}
body {
    margin: 0px;
    height: 990px; 
}
.header {
    position: absolute;
    width: 1365px;
    height: 256px;
    left: -8px;
    top: -7px; 
background: url(../kurs/photo/background.png);
background-color:#f7eef5;
}
.logo {
position: absolute;
width: 286.82px;
height: 216px;
left: 523px;
top: 40px;
background: url(/УЧЕБА\ 1К2С/kurs/photo/logo4.png)
}
.fortext {
    position: absolute;
width: 327.13px;
height: 100px;
left: 124px;
top: 80px;
background: transparent;
border-left: 2px solid #ef9eff;
  border-right: 2px solid #61475e;
  background-image: linear-gradient(45deg, #ef9eff, #61475e), linear-gradient(45deg, #ef9eff, #61475e);
  background-size: 100% 2px;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.text {
    width: 98%; 
    margin: 0 auto;
    text-align: center;
}
address {
    font-style: normal;
}
.phone {
margin: 0.5rem 0;
        display: block;
        color: #222;
        text-decoration: none;
        font-size: 16px;
    font-weight: 700;
}
div.text {
margin-top: 2px;
}
.knopkapoisk button{
    position: absolute;
    width: 29.74px;
    height: 30px;
    left: 1186.66px;
    top: 132px;
    border: 1px solid rgb(105, 53, 116);
    box-sizing: border-box;
    border-radius: 3px;
    cursor: pointer;
    background-color: transparent;
}
.poisk {
    position: relative;
}
.poisk input{
    position: absolute;
    width: 297.39px;
    height: 30px;
    left: 884.32px;
    top: 132px;
    border: 1px solid rgb(105, 53, 116);
    box-sizing: border-box;
    border-radius: 3px;
    background: transparent;
}
.ellipse {
    position: absolute;
width: 13px;
height: 13px;
left: 9px;
top: 8px;
background: linear-gradient(to top,#ef9eff, #61475e);
border-radius: 10px;
margin-left: -1px;
}
img.tyan {
    position: absolute;
    left: 1168px;
    top: 80px;
    width: 60px;
    height: 52px;
}
img.shop {
    position:absolute;
left: 934px;
top: 87px; ;
width:48.98px; height:50px;
}
img.user {
    position: absolute;
width: 40px;
height: 39.66px;
left: 892px;
top: 90px;
}
.inst {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 322.26px;
    top: 185px;
}
.tg {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 262.78px;
    top: 185px;
    
}
.vk {
    position: absolute;
width: 50px;
height: 50px;
left: 203.3px;
top: 185px;
}
.box {
    background: url(/УЧЕБА\ 1К2С/kurs/photo/background.png);

    height: 789px;
}

a:hover {
    text-decoration: underline;
} 
.footer-100 {
    text-align: center;
    display: inline-block;
    background-color: #f7eef5;
}
.footer-100, .footer {
    width:100%;
    left:100px;
}
#footer .column1  {
    float: left;
    margin-left: 35%;
    font-size: 16px;
    position: relative;
    left: 30px;
}
.column1 li:hover {
    text-decoration: underline;
}
#footer .column2  {
    float: left;
    font-size: 16px;
    position: relative;
    left: 40px;
}
table a:hover {
    text-decoration: underline;
}
a, h6, .address, .text, ::placeholder {
  font-family: "Century Gothic","Trebuchet MS",Helvetica,Arial,sans-serif;
}
.column1 h6 {
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 16px;
    margin-top: 20px;
}
.column2 h6 {
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 16px;
    margin-left: 45px;
    margin-top: 20px;
    left: -12px;
    position: relative;
}
.tmail {
    position: relative;
    margin-bottom: 10px;
}
li {
    list-style-type: none;
    margin-bottom: 7px;
}
.table {
    margin-left: 21px;
}
a {
    text-decoration: none;
    color:black;
}
table a:hover {
    text-decoration: underline;
}
a:hover {
    text-decoration: underline;
} 

  .tshirts a {
    display: inline-block;
position: absolute;
width: 64px;
height: 16px;
left: 38px;
font-size: 30px;
color: black;
  }

  body {margin:0;font-family:Arial}
        
  .topnav {
    overflow: hidden;
    background-color: #f7eef5;
    margin-left: 10px;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .active {
    background-color: #f7eef5;
    color: black;
  }
  
  .topnav .icon {
    display: none;
  }
  
  .dropdown {
      float: left;
      overflow: hidden;
  }
  
  .dropdown .dropbtn {
      font-size: 17px;    
      border: none;
      outline: none;
      color: black;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
      font-family: "Century Gothic","Trebuchet MS",Helvetica,Arial,sans-serif;
  }
  
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f7eef5;
      min-width: 160px;
      z-index: 1;
      font-family: "Century Gothic","Trebuchet MS",Helvetica,Arial,sans-serif;
  }
  
  .dropdown-content a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
  }
  
  .topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #d6bbd0;
    color: white;
  }
  
  .dropdown-content a:hover {
      background-color: #d6bbd0;
      color: black;
  }
  
  .dropdown:hover .dropdown-content {
      display: block;
      

  }
   /*  tovari*/
   .image, .image2, .image3 {
    width: 100px;
    height: 100px;
    top: 125px;
position: relative;
float: left;
margin: 5px;
   }

       .image:hover, .image2:hover, .image3:hover {
        transition: 1s; /* Время эффекта */
        transform: scale(2.5); /* Увеличиваем масштаб */
     z-index:999;
       }
   #container{
    box-shadow: 0 15px 30px 1px grey;
    background: rgba(255, 255, 255, 0.90);
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    margin: 5em auto;
    height: 500px;
    width: 850px;
    top: 200px;
    position: relative;
    
}



.product-details {
    position: relative;
    text-align: left;
    overflow: hidden;
    padding: 30px;
    height: 100%;
    float: left;
    width: 55%;

}

#container .product-details h1{
    font-family: "Century Gothic","Trebuchet MS",Helvetica,Arial,sans-serif;
    display: inline-block;
    position: relative;
    font-size: 30px;
    color: #344055;
    margin: 0;
    
}

#container .product-details h1:before{
    position: absolute;
    content: '';
    right: 0%; 
    top: 0%;
    transform: translate(25px, -15px);
    font-family: "Century Gothic","Trebuchet MS",Helvetica,Arial,sans-serif;
    display: inline-block;
    background: #ffe6e6;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px;
    color: white;
    margin: 0;
    animation: chan-sh 6s ease infinite;

}

.hint-star {
    display: inline-block;
    margin-left: 0.5em;
    color: gold;
    width: 50%;
}


#container .product-details > p {
    font-family: "Century Gothic","Trebuchet MS",Helvetica,Arial,sans-serif;
    text-align: center;
    font-size: 13px;
    color: #7d7d7d;
    
}
.control{
    position: absolute;
    bottom: 5%;
    left: 25%;
    
}
.btn {

    transform: translateY(0px);
    transition: 0.3s linear;
    background:  #b390ac;
    border-radius: 5px;
  position: relative;
  overflow: hidden;
    cursor: pointer;
    outline: none;
    border: none;
    color: #eee;
    padding: 0;
    margin: 0;
    
}

.btn:hover{transform: translateY(-6px);
    background:  #b390ac;}

.btn span {
    font-family: "Century Gothic","Trebuchet MS",Helvetica,Arial,sans-serif;
    transition: transform 0.3s;
    display: inline-block;
  padding: 10px 20px;
    font-size: 1.2em;
    margin:0;
    
}
.btn .price, .shopping-cart{
    background:  #b390ac;
    border: 0;
    margin: 0;
}

.btn .price {
    transform: translateX(-10%); padding-right: 15px;
}

.btn .shopping-cart {
    transform: translateX(-100%);
  position: absolute;
    z-index: 1;
  left: 0;
  top: 0;
}

.btn .buy {z-index: 3; font-weight: bolder;}

.btn:hover .price {transform: translateX(-110%);}

.btn:hover .shopping-cart {transform: translateX(0%);}



.product-image {
    transition: all 0.3s ease-out;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 45%;
    float: right;
}

#container img {width: 100%;height: 100%;}

.info {
    background: rgba(27, 26, 26, 0.9);
    font-family: "Century Gothic","Trebuchet MS",Helvetica,Arial,sans-serif;
    transition: all 0.3s ease-out;
    transform: translateX(-100%);
    position: absolute;
    line-height: 1.8;
    text-align: left;
    font-size: 105%;
    cursor: no-drop;
    color: #FFF;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}
span.buy a {
    color: #FFF;
}
.info h2 {text-align: center}
.product-image:hover .info{transform: translateX(0);}

.info ul li{transition: 0.3s ease;}
.info ul li:hover{transform: translateX(50px) scale(1.3);}

.product-image:hover img {transition: all 0.3s ease-out;}
.product-image:hover img {transform: scale(1.2, 1.2);}



